<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <img src="assets/emiway-bantai-6547083.png" alt="" class="img-fluid" id="img">
        </div>
        <div class="col-md-8">
            <div class="col-md-6 bg-warning">
                <p>"Los artistas conceptuales son místicos más</p>
                <p>que racionalistas. Llegan a conclusiones a las</p>
                <p>que no llega la lógica" - Sol LeWitt</p>
            </div>
            <div id="busquedaContenedor">
                <input id="busqueda" class="input-rounded" type="text"  name="filterArtista" [(ngModel)]="filterArtista">
                <span class="material-icons">search</span>
            </div>
            <div *ngFor="let artista of artistas | filter:filterArtista" class="content-cards"> 
                <div class="card col-md-2" (click)="irARuta(artista.id)">
                    <div>{{artista.nombreArtista}}</div>
                    <div> {{artista.nombreReal}} </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" *ngFor="let item of listaDeNoticias">
            <div class="contendoreNoticias">
                <img src="{{item.imagenURL}}" alt="Galeria noticias" class="imagenesNoticias">
                <div class="overlay">
                    <h1>{{item.titulo}}</h1>
                    <span class="material-icons white md-40">search</span>
                </div>
            </div>
            
        </div>
    </div>

</div>


<div class="container-fluid">
    <div class="row team">
        <div class="col-md-4" *ngFor="let item of arregloDeTeam">
            <app-team-pag [integranteDeTeam]="item">

            </app-team-pag>
        </div>
    </div>
</div>


