<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <p>A</p>
        </div>
        <div class="col-md-5 col-sm-3">
            <img src="assets/emiway-bantai-6547083.png" alt="" id="img">
        </div>
        <div class="col-md-6 col-sm-4">
            <p>"Los artistas conceptuales son místicos más</p>
            <p>que racionalistas. Llegan a conclusiones a las</p>
            <p>que no llega la lógica" - Sol LeWitt</p>
            <div id="busquedaContenedor">
                <input id="busqueda" class="input-rounded" type="text" formControlName="busqueda">
                <span class="material-icons">search</span>
            </div>
            
        </div>
    </div>
</div>
